grpc.host=${env:MINION_GATEWAY_HOST:-minion-gateway}
grpc.port=${env:MINION_GATEWAY_PORT:-8990}
grpc.tls.enabled=${env:MINION_GATEWAY_TLS:-false}
grpc.max.message.size=${env:MINION_GATEWAY_MAX_MESSAGE_SIZE:-104857600}

# The following only apply when TLS is enabled
grpc.client.keystore=${env:GRPC_CLIENT_KEYSTORE}
grpc.client.keystore.type=${env:GRPC_CLIENT_KEYSTORE_TYPE:-pkcs12}
grpc.client.keystore.password=${env:GRPC_CLIENT_KEYSTORE_PASSWORD}
grpc.client.truststore=${env:GRPC_CLIENT_TRUSTSTORE}
grpc.client.truststore.type=${GRPC_CLIENT_TRUSTSTORE_TYPE:-file}
grpc.client.truststore.password${GRPC_CLIENT_TRUSTSTORE_PASSWORD}

grpc.override.authority=${env:GRPC_CLIENT_OVERRIDE_AUTHORITY}
