useKubernetes=${env:USE_KUBERNETES:-true}
kubernetes.service.name=${env:KUBERNETES_SERVICE_NAME:-ignite-minion-gateway}
kubernetes.namespace=${env:KUBERNETES_NAMESPACE:-default}
# Addresses are ignored when using Kubernetes
addresses=${env:IGNITE_SERVER_ADDRESSES:-unknown}
