useKubernetes=${env:USE_KUBERNETES:-true}
kubernetesServiceName=${env:KUBERNETES_SERVICE_NAME:-ignite-minion-gateway}
# Addresses are ignored when using Kubernetes
addresses=${env:IGNITE_SERVER_ADDRESSES:-unknown}
