version: '3.5'

services:
  minion-localnet:
    image: docker.io/opennms/horizon-stream-minion:latest
    #image: docker.io/opennms/horizon-stream-minion:v0.0.27-dev
    # If you have not downloaded latest, then use latest, but if you have it
    # downloaded, use specific versions to trigger new download. See
    # https://hub.docker.com/r/opennms/horizon-stream-minion/tags for recent
    # tags.
    extra_hosts:
      minion.onmshs: 10.0.0.55
    environment:
      TZ: 'America/New_York'
      MINION_ID: 'minion-b'
      MINION_LOCATION: 'minion-b-loc'
      USE_KUBERNETES: false
      IGNITE_SERVER_ADDRESSES: localhost
      MINION_GATEWAY_HOST: minion.onmshs
      MINION_GATEWAY_PORT: 8990
      MINION_GATEWAY_TLS: false
    ports:
      - "8877:8877/udp" # netflow5
      - "4729:4729/udp" # netflow9
      - "9999:9999/udp" # netflow
    networks:
      localnet:
        ipv4_address: 172.4.1.1

  temp-a:
    image: ehazlett/snmpd:latest-linux-arm64
    volumes:
      - "./snmpd.conf:/etc/snmp/snmpd.conf"
    networks:
      localnet:
        ipv4_address: 172.4.2.1

#  temp-b:
#    image: polinux/snmpd
#    networks:
#      localnet:
#        ipv4_address: 172.4.2.2
#
#  temp-c:
#    image: polinux/snmpd
#    networks:
#      localnet:
#        ipv4_address: 172.4.2.3

networks:
  localnet:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.4.0.0/16
