{{- if .Values.Grafana.Enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.Grafana.ServiceName }}
  labels:
    app: {{ .Values.Grafana.ServiceName }}
  namespace: {{ .Release.Namespace }}
spec:
  ports:
    - port: {{ .Values.Grafana.Port }}
      protocol: TCP
      targetPort: {{ .Values.Grafana.Port }}
  selector:
    app: {{ .Values.Grafana.ServiceName }}
  type: ClusterIP
{{- end }}
