{{- if .Values.OpenNMS.MinionCertificateManager.Enabled }}
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  namespace: {{ .Release.Namespace }}
  name: minion-certificate-manager-pvc
  labels:
    app: {{ .Values.OpenNMS.MinionCertificateManager.ServiceName }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.OpenNMS.MinionCertificateManager.VolumeSize }}
{{- end }}
