apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.MailServer.ServiceName }}
  labels:
    app: {{ .Values.MailServer.ServiceName }}
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.MailServer.Port }}
      protocol: TCP
      name: http
    - port: {{ .Values.MailServer.SmtpPort }}
      protocol: TCP
      name: smtp
  selector:
    app: {{ .Values.MailServer.ServiceName }}
