server:
  port: 9090

spring:
  jackson:
    default-property-inclusion: non_null

keycloak:
  url: http://onms-keycloak:8080/auth
  realm: opennms
  signatureAlgorithm: RS256

# graphql
graphql:
  spqr:
    gui:
      enabled: true
    base-packages:
      - org.opennms.horizon.server.model.inventory
      - org.opennms.horizon.server.model.events

logging:
  file.path: /var/log/restServer
  level:
    root: debug
tsdb.url: http://localhost:59090/api/v1/query

grpc:
  url:
    inventory: localhost:29065
    events: localhost:30065
    notification: localhost:15065
    alerts: localhost:16065
  server:
    deadline: 60000
