{{- if .Values.Postgres.Enabled }}
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  namespace: {{ .Release.Namespace }}
  name: postgres-pvc
  labels:
    app: {{ .Values.Postgres.ServiceName }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.Postgres.VolumeSize }}
{{- end }}
