{{- if .Values.Ingress.Enabled }}
{{/*FIXME Is this even used?*/}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: opennms-nginx-errors
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: opennms-nginx-errors
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: opennms-nginx-errors
  template:
    metadata:
      labels:
        appdomain: opennms
        app.kubernetes.io/name: opennms-nginx-errors
    spec:
      {{- if .Values.NodeRestrictions.Enabled }}
      nodeSelector:                                                                                    
        {{ .Values.NodeRestrictions.Key }}: {{ .Values.NodeRestrictions.Value }}                       
      tolerations:
        - effect: "NoSchedule"                                                                         
          key: "{{ .Values.NodeRestrictions.Key }}"                                                    
          operator: "Equal"
          value: {{ .Values.NodeRestrictions.Value }} 
      affinity: 
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:                                             
          - weight: 1                                                                                  
            preference:                                                                                
              matchExpressions:                                                                        
              - key: "{{ .Values.NodeRestrictions.Key }}"                                              
                operator: In
                values:                                                                                
                - {{ .Values.NodeRestrictions.Value }}                                                 
      {{- end }}
      containers:
        - name: opennms-nginx-error-server
          image: {{ .Values.CustomErrors.Image }}
          ports:
            - containerPort: 8080
          env:
            - name: DEBUG
              value: "{{ .Values.CustomErrors.Debug }}"
{{- end }}
