{{ if .Values.Cortex.Enabled }}
apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ .Values.Cortex.ServiceName }}
  name: {{ .Values.Cortex.ServiceName }}
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.Cortex.Port }}
      protocol: TCP
      name: cortex-http
  selector:
    app: {{ .Values.Cortex.ServiceName }}
{{ end }}
