{{ if .Values.OpenShift }}
piVersion: route.openshift.io/v1
kind: Route
metadata:
  name: opennms-keycloak-route
  namespace: {{ .Release.Namespace }}
spec:
  host: {{ .Values.Host }}.apps-crc.testing
  path: {{ .Values.Keycloak.Path }}  
  to:
    kind: Service
    name: {{ .Values.Keycloak.ServiceName }}
{{ end }}