Host: onmshs
Port: 443 #set depending on TLS.Enabled and the Ingress ports, do not change
Protocol: https #set depending on TLS.Enabled, do not change
OpenShift: false
OpenNMS:
  global:
    springBoot:
      env: {}
    kafkaClient:
      bootstrapServers: onms-kafka:9092
    enableJsonLogging: false
    openTelemetry:
      otlpTracesEndpoint: null
      env:
        OTEL_PROPAGATORS: tracecontext,baggage,jaeger,b3multi
  API:
    Path: /api
    ServiceName: opennms-rest-server
    Image: opennms/lokahi-rest-server
    ImagePullPolicy: IfNotPresent
    Replicas: 1
    Port: 9090
    Resources:
      Limits:
        Cpu: "2"
        Memory: 2Gi
      Requests:
        Cpu: "1"
        Memory: 1Gi
    PrivateRepoEnabled: false
    FlowsUrl: SOME-EXTERNAL-FLOW-SERVER:80
    FlowsTlsEnabled: false
    CertificateManagerUrl: dev
  MetricsProcessor:
    ServiceName: opennms-metrics-processor
    Image: opennms/lokahi-metrics-processor
    ImagePullPolicy: IfNotPresent
    Replicas: 1
    Resources:
      Limits:
        Cpu: "1"
        Memory: 512Mi
      Requests:
        Cpu: 250m
        Memory: 256Mi
    PrivateRepoEnabled: false
    FlowIngestorUrl: SOME-EXTERNAL-FLOW-SERVER:80
    FlowTlsEnabled: false
    kafkaSecretName: ~
  UI:
    Path: /
    ServiceName: opennms-ui
    TlsSecretName: opennms-ui-certificate
    Image: opennms/lokahi-ui
    ImagePullPolicy: IfNotPresent
    Replicas: 1
    Port: 8080
    Resources:
      Limits:
        Cpu: "1"
        Memory: 500Mi
      Requests:
        Cpu: 100m
        Memory: 250Mi
    PrivateRepoEnabled: false
    IngressAnnotations:
      nginx.ingress.kubernetes.io/configuration-snippet: |
        add_header X-Content-Type-Options "nosniff";
        add_header X-Frame-Options "sameorigin";
        add_header server_tokens "off";
      nginx.ingress.kubernetes.io/client-body-buffer-size: 4k
      nginx.ingress.kubernetes.io/client-header-buffer-size: 4k
      nginx.ingress.kubernetes.io/large-client-header-buffers: 4 16k
      nginx.ingress.kubernetes.io/proxy-body-size: 4m
      nginx.ingress.kubernetes.io/proxy-buffer-size: 6k
  Minion:
    ServiceName: opennms-minion
    Image: opennms/lokahi-minion
    ImagePullPolicy: IfNotPresent
    Replicas: 1
    Port: 8181
    SshPort: 8101
    TrapsListenerPort: 1162
    Netflow5ListenerPort: 8877
    Netflow9ListenerPort: 4729
    NetflowListenerPort: 9999
    Resources:
      Limits:
        Cpu: "1"
        Memory: 500Mi
      Requests:
        Cpu: 100m
        Memory: 250Mi
    ExtraVolumes: []
    ExtraMounts: []
    ExtraInitContainers: []
    GrpcConfig: {}
  MinionGateway:
    ServiceName: opennms-minion-gateway
    TlsSecretName: opennms-minion-gateway-certificate
    Image: opennms/lokahi-minion-gateway
    ImagePullPolicy: IfNotPresent
    Port: 8080
    GrpcPort: 8990
    InternalGrpcPort: 8991
    IgniteClientPort: 10800
    Replicas: 1
    DbName: "horizon_stream"
    DbSchemaName: "minion_gateway"
    DbHost: "postgres"
    Resources:
      Limits:
        Cpu: "1"
        Memory: 500Mi
      Requests:
        Cpu: 100m
        Memory: 250Mi
    env:
      OTEL_JAVAAGENT_ENABLED: "false"
    IngressAnnotations:
      nginx.ingress.kubernetes.io/auth-tls-secret: default/client-root-ca-certificate
      nginx.ingress.kubernetes.io/auth-tls-verify-client: "on"
      nginx.ingress.kubernetes.io/auth-tls-verify-depth: "1"
      nginx.ingress.kubernetes.io/auth-url: "http://opennms-minion-certificate-verifier.default.svc.cluster.local:8080/certificate/debug"
      nginx.ingress.kubernetes.io/auth-response-headers: "tenant-id, location"
      nginx.ingress.kubernetes.io/server-snippet: |
        grpc_read_timeout "1200s";
        grpc_send_timeout "1200s";
        client_body_timeout "1200s";
    PrivateRepoEnabled: false
    kafkaSecretName: ~


  Inventory:
    ServiceName: opennms-inventory
    Image: opennms/lokahi-inventory
    ImagePullPolicy: IfNotPresent
    Replicas: 1
    Port: 8080
    GrpcPort: 6565
    DbName: "horizon_stream"
    DbSchemaName: "inventory"
    DbHost: "postgres"
    Resources:
      Limits:
        Cpu: "1"
        Memory: 500Mi
      Requests:
        Cpu: 100m
        Memory: 250Mi
    EncryptionKey: ~
    PrivateRepoEnabled: false
    kafkaSecretName: ~
  Alert:
    ServiceName: opennms-alert
    Image: opennms/lokahi-alert
    ImagePullPolicy: IfNotPresent
    Replicas: 1
    Port: 8080
    GrpcPort: 6565
    DbName: "horizon_stream"
    DbSchemaName: "alert"
    DbHost: "postgres"
    Resources:
      Limits:
        Cpu: "1"
        Memory: 500Mi
      Requests:
        Cpu: 100m
        Memory: 250Mi
    PrivateRepoEnabled: false
    kafkaSecretName: ~
  Notification:
    ServiceName: opennms-notifications
    Image: opennms/lokahi-notification
    ImagePullPolicy: IfNotPresent
    Replicas: 1
    GrpcPort: 6565
    DbName: "horizon_stream"
    DbSchemaName: "notification"
    DbHost: "postgres"
    Resources:
      Limits:
        Cpu: "1"
        Memory: 500Mi
      Requests:
        Cpu: 100m
        Memory: 250Mi
    PrivateRepoEnabled: false
    kafkaSecretName: ~
  Events:
    ServiceName: opennms-events
    Image: opennms/lokahi-events
    ImagePullPolicy: IfNotPresent
    Replicas: 1
    Port: 8080
    GrpcPort: 6565
    DbName: "horizon_stream"
    DbSchemaName: "events"
    DbHost: "postgres"
    Resources:
      Limits:
        Cpu: "1"
        Memory: 500Mi
      Requests:
        Cpu: 100m
        Memory: 250Mi
    PrivateRepoEnabled: false
  DataChoices:
    ServiceName: opennms-datachoices
    Image: opennms/lokahi-datachoices
    ImagePullPolicy: IfNotPresent
    Replicas: 1
    Port: 8080
    GrpcPort: 6565
    DbName: "horizon_stream"
    DbSchemaName: "datachoices"
    DbHost: "postgres"
    Resources:
      Limits:
        Cpu: "1"
        Memory: 500Mi
      Requests:
        Cpu: 100m
        Memory: 250Mi
    PrivateRepoEnabled: false
  MinionCertificateManager:
    Enabled: false
    ServiceName: opennms-minion-certificate-manager
    CaSecretName: ""
    MtlsSecretName: opennms-minion-certificate
    Image: opennms/lokahi-minion-certificate-manager
    ImagePullPolicy: IfNotPresent
    Replicas: 1
    Port: 8990
    Resources:
      Limits:
        Cpu: "1"
        Memory: 500Mi
      Requests:
        Cpu: 100m
        Memory: 250Mi
    PrivateRepoEnabled: false
  MinionCertificateVerifier:
    ServiceName: opennms-minion-certificate-verifier
    Image: opennms/lokahi-minion-certificate-verifier
    ImagePullPolicy: IfNotPresent
    Replicas: 1
    Port: 8080
    Resources:
      Limits:
        Cpu: "1"
        Memory: 500Mi
      Requests:
        Cpu: 100m
        Memory: 250Mi
    PrivateRepoEnabled: false
Postgres:
  Enabled: true
  ServiceName: postgres
  Image: postgres:14.5-alpine
  ImagePullPolicy: IfNotPresent
  Replicas: 1
  DbName: "horizon_stream"
  DbHost: "postgres"
  AdminPassword: notset
  OpenNMSPassword: notset
  KeycloakPassword: notset
  InventoryPassword: notset
  AlertPassword: notset
  EventsPassword: notset
  DataChoicesPassword: notset
  MinionGatewayPassword: notset
  NotificationPassword: notset
  GrafanaPassword: notset
  Pvc: true 
  VolumeSize: 10Gi
Keycloak:
  Path: /auth
  Image: opennms/lokahi-keycloak:latest
  ImagePullPolicy: IfNotPresent
  Port: 8080
  HttpsPort: 8443
  HostnamePort: ~
  HostnameAdminUrl: ~
  Replicas: 1
  ServiceName: onms-keycloak
  TlsSecretName:
  DbSchemaName: "keycloak"
  DbName: "horizon_stream"
  DbHost: "postgres"
  Resources:
    Limits:
      Cpu: "1"
      Memory: 1000Mi
    Requests:
      Cpu: 100m
      Memory: 500Mi
  AdminUsername: admin
  AdminPassword: notset
  RealmName: opennms
  DynamicRealmConfig: true
  PrivateRepoEnabled: false
  ConfigmapName: keycloak-realm-configmap
  Environment: {}
Grafana:
  Enabled: true
  Path: /grafana
  Port: 3000
  Replicas: 1
  ServiceName: grafana
  Image: opennms/lokahi-grafana
  ImagePullPolicy: IfNotPresent
  InitContainerImage: busybox
  Resources:
    Limits:
      Cpu: 500m
      Memory: 1Gi
    Requests:
      Cpu: 100m
      Memory: 100Mi
Cortex:
  Enabled: true
  ServiceName: cortex
  Port: 9000
  Image: cortexproject/cortex:v1.14.0
  Resources:
    Limits:
      Cpu: "1"
      Memory: 512Mi
    Requests:
      Cpu: 100m
      Memory: 100Mi
CortexClient:
  HostRead: cortex
  HostWrite: cortex
  PathRead: /prometheus/api/v1
  PathWrite: /api/v1/push
  Protocol: http
  PortRead: 9000
  PortWrite: 9000
Kafka:
  Enabled: true
  ServiceName: onms-kafka
  Image: bitnami/kafka:3.3.2-debian-11-r28 # latest 3.3.2 version not affected by https://github.com/bitnami/containers/issues/33271
  ImagePullPolicy: IfNotPresent
  Replicas: 1
  Port: 9092
  ControllerPort: 9093
  LocalPort: 59092
  Resources:
    Limits:
      Cpu: "2"
      Memory: 2Gi
    Requests:
      Cpu: 500m
      Memory: 512Mi
  VolumeSize: 10Gi
MailServer:
  ServiceName: mail-server
  Image: mailhog/mailhog:v1.0.1
  ImagePullPolicy: IfNotPresent
  Replicas: 1
  Port: 8025
  SmtpPort: 1025
  Resources:
    Limits:
      Cpu: 100m
      Memory: 200Mi
    Requests:
      Cpu: 100m
      Memory: 100Mi
NodeRestrictions: # will be applied to every pod in the instance
  Enabled: false
  Key: kubernetes.azure.com/scalesetpriority
  Value: spot
TLS:
  Enabled: true
  # When Certificate Generation option is set to false you need to manually prepare secrets which are referred by
  # this helm chart. This includes creation of TLS certificates for ingress but also for mutual tls between minions and
  # minion-gateway service
  CertificateGeneration: false

Ingress:
  Enabled: true
  DefaultEndpointsEnabled: true
  HttpPort: 80
  HttpsPort: 443
  ControllerImage: registry.k8s.io/ingress-nginx/controller:v1.7.0@sha256:7612338342a1e7b8090bef78f2a04fffcadd548ccaabe8a47bf7758ff549a5f7
  SecretJobImage: registry.k8s.io/ingress-nginx/kube-webhook-certgen:v1.1.1@sha256:64d8c73dca984af206adf9d6d7e46aa550362b1d7a01f3a0a91b20cc67868660
  WebhookPatchJobImage: registry.k8s.io/ingress-nginx/kube-webhook-certgen:v1.1.1@sha256:64d8c73dca984af206adf9d6d7e46aa550362b1d7a01f3a0a91b20cc67868660

CustomErrors:
  Image: quay.io/kubernetes-ingress-controller/custom-error-pages:0.4
  Debug: true

Prometheus:
  Enabled: true
  Path: /prometheus
  ServiceName: prometheus
  Port: 9090
  Image: prom/prometheus:v2.39.1
  ImagePullPolicy: IfNotPresent
  Replicas: 1
  Resources:
    Limits:
      Cpu: "1"
      Memory: 512Mi
    Requests:
      Cpu: 100m
      Memory: 100Mi
