apiVersion: v1
kind: Secret
metadata:
  name: keycloak-credentials
  namespace: {{ .Release.Namespace }}
data:
  {{- $secretData := get (lookup "v1" "Secret" .Values.Namespace "keycloak-credentials") "data" | default dict }}
  adminPwd: "{{ (get $secretData "adminPwd" | b64dec) | default .Values.Keycloak.AdminPassword | default (randAscii 32) | b64enc }}"
  userPwd: "{{ (get $secretData "userPwd" | b64dec) | default .Values.Keycloak.UserPassword | default (randAscii 32) | b64enc }}"
  realmId: "{{ (get $secretData "realmId" | b64dec) | default .Values.Keycloak.UUID.RealmId | default uuidv4 | b64enc }}"
  clientId: "{{ (get $secretData "clientId" | b64dec) | default .Values.Keycloak.UUID.ClientId | default uuidv4 | b64enc }}"
  adminId: "{{ (get $secretData "adminId" | b64dec) | default .Values.Keycloak.UUID.AdminUserId | default uuidv4 | b64enc }}"
  userId: "{{ (get $secretData "userId" | b64dec) | default .Values.Keycloak.UUID.BaseUserId | default uuidv4 | b64enc }}"
type: Opaque
