.btn {
  height: 2.25rem;
  padding: 0 1rem;
  border-radius: 4px;
  display: inline-block;
  border: none;
  cursor: pointer;
  position: relative;
  font-family: var(--feather-header-font-family);
  color: var(--feather-primary-text-on-surface);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--feather-font-family);
  color: var(--feather-primary-text-on-surface);
  font-size: var(--feather-button-font-size);
  line-height: var(--feather-button-line-height);
  letter-spacing: var(--feather-button-letter-spacing);
  font-weight: var(--feather-button-font-weight);
  text-transform: var(--feather-button-text-transform);
  font-style: var(--feather-button-font-style);
  line-height: 2rem;
  vertical-align: middle;
  min-width: 4rem;
  white-space: nowrap;
}
.btn:hover {
  text-decoration: none;
}
.btn:focus {
  outline: none !important;
}
.btn::-moz-focus-inner {
  outline: none;
  border-color: transparent;
}
.btn svg {
  position: relative;
}
.btn + .btn {
  margin-left: var(--feather-spacing-xs);
}
.btn-content {
  position: relative;
}
.btn-primary {
  background-color: var(--feather-primary);
  color: var(--feather-primary-text-on-color);
  box-shadow: var(--feather-shadow-2);
  border: 2px solid transparent;
}
.btn-primary .ripple {
  background-color: var(--feather-state-color-on-color);
  opacity: var(--feather-state-opacity-pressed-on-color);
}
.btn-primary.selected,
.btn-primary .selected {
  background: linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-selected-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-selected-on-color))), linear-gradient(var(--feather-primary), var(--feather-primary));
}
.btn-primary.hover:hover, .btn-primary:hover .hover {
  background: linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-hover-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-hover-on-color))), linear-gradient(var(--feather-primary), var(--feather-primary));
}
.btn-primary.hover:hover.selected, .btn-primary:hover .hover.selected {
  background: linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-selected-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-selected-on-color))), linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-hover-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-hover-on-color))), linear-gradient(var(--feather-primary), var(--feather-primary));
}
.btn-primary:focus.focus, .btn-primary:focus .focus {
  background: linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-focus-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-focus-on-color))), linear-gradient(var(--feather-primary), var(--feather-primary));
}
.btn-primary:focus.focus.selected, .btn-primary:focus .focus.selected {
  background: linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-selected-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-selected-on-color))), linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-focus-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-focus-on-color))), linear-gradient(var(--feather-primary), var(--feather-primary));
}
.btn-primary:hover:focus .focus.hover, .btn-primary:hover:focus.focus.hover {
  background: linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-hover-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-hover-on-color))), linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-focus-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-focus-on-color))), linear-gradient(var(--feather-primary), var(--feather-primary));
}
.btn-primary:hover:focus .focus.hover.selected, .btn-primary:hover:focus.focus.hover.selected {
  background: linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-selected-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-selected-on-color))), linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-hover-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-hover-on-color))), linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-focus-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-focus-on-color))), linear-gradient(var(--feather-primary), var(--feather-primary));
}
.btn-primary:hover {
  box-shadow: var(--feather-shadow-4);
}
.btn-primary:hover:focus {
  box-shadow: var(--feather-shadow-4), inset 0 0 1px 0 var(--feather-state-inner-border-color-focus-on-color);
}
.btn-primary:focus {
  border: var(--feather-state-border-focus-on-color);
  box-shadow: inset 0 0 0 1px var(--feather-state-inner-border-color-focus-on-color);
}
.btn-primary[aria-disabled=true] {
  cursor: default;
  color: var(--feather-shade-2);
  border-color: transparent;
  box-shadow: none;
}
.btn-primary[aria-disabled=true].selected,
.btn-primary[aria-disabled=true] .selected {
  background: rgba(0, 0, 0, 0);
}
.btn-primary[aria-disabled=true].hover:hover, .btn-primary[aria-disabled=true]:hover .hover {
  background: rgba(0, 0, 0, 0);
}
.btn-primary[aria-disabled=true].hover:hover.selected, .btn-primary[aria-disabled=true]:hover .hover.selected {
  background: rgba(0, 0, 0, 0);
}
.btn-primary[aria-disabled=true]:focus.focus, .btn-primary[aria-disabled=true]:focus .focus {
  background: rgba(0, 0, 0, 0);
}
.btn-primary[aria-disabled=true]:focus.focus.selected, .btn-primary[aria-disabled=true]:focus .focus.selected {
  background: rgba(0, 0, 0, 0);
}
.btn-primary[aria-disabled=true]:hover:focus .focus.hover, .btn-primary[aria-disabled=true]:hover:focus.focus.hover {
  background: rgba(0, 0, 0, 0);
}
.btn-primary[aria-disabled=true]:hover:focus .focus.hover.selected, .btn-primary[aria-disabled=true]:hover:focus.focus.hover.selected {
  background: rgba(0, 0, 0, 0);
}
.btn-primary[aria-disabled=true]:focus, .btn-primary[aria-disabled=true]:hover, .btn-primary[aria-disabled=true]:active, .btn-primary[aria-disabled=true]:visited {
  cursor: default;
  color: var(--feather-shade-2);
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}
.btn-primary:visited {
  color: var(--feather-primary-text-on-color);
}
.btn-primary[aria-disabled=true] {
  background-color: var(--feather-shade-4);
}
.btn-primary[aria-disabled=true].selected,
.btn-primary[aria-disabled=true] .selected {
  background: var(--feather-shade-4);
}
.btn-primary[aria-disabled=true].hover:hover, .btn-primary[aria-disabled=true]:hover .hover {
  background: var(--feather-shade-4);
}
.btn-primary[aria-disabled=true].hover:hover.selected, .btn-primary[aria-disabled=true]:hover .hover.selected {
  background: var(--feather-shade-4);
}
.btn-primary[aria-disabled=true]:focus.focus, .btn-primary[aria-disabled=true]:focus .focus {
  background: var(--feather-shade-4);
}
.btn-primary[aria-disabled=true]:focus.focus.selected, .btn-primary[aria-disabled=true]:focus .focus.selected {
  background: var(--feather-shade-4);
}
.btn-primary[aria-disabled=true]:hover:focus .focus.hover, .btn-primary[aria-disabled=true]:hover:focus.focus.hover {
  background: var(--feather-shade-4);
}
.btn-primary[aria-disabled=true]:hover:focus .focus.hover.selected, .btn-primary[aria-disabled=true]:hover:focus.focus.hover.selected {
  background: var(--feather-shade-4);
}
.btn-primary[aria-disabled=true]:focus, .btn-primary[aria-disabled=true]:hover, .btn-primary[aria-disabled=true]:active, .btn-primary[aria-disabled=true]:visited {
  background-color: var(--feather-shade-4);
}
.btn-primary + .btn-primary,
.btn-primary + .btn-secondary {
  margin-left: var(--feather-spacing-m);
}
.btn-secondary {
  background-color: transparent;
  color: var(--feather-primary);
  border: 2px solid var(--feather-border-on-surface);
}
.btn-secondary .ripple {
  background-color: var(--feather-state-color-on-surface);
  opacity: var(--feather-state-opacity-pressed-on-surface);
}
.btn-secondary.selected,
.btn-secondary .selected {
  background: linear-gradient(rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-selected-on-surface)), rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-selected-on-surface))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-secondary.hover:hover, .btn-secondary:hover .hover {
  background: linear-gradient(rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-hover-on-surface)), rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-hover-on-surface))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-secondary.hover:hover.selected, .btn-secondary:hover .hover.selected {
  background: linear-gradient(rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-selected-on-surface)), rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-selected-on-surface))), linear-gradient(rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-hover-on-surface)), rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-hover-on-surface))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-secondary:focus.focus, .btn-secondary:focus .focus {
  background: linear-gradient(rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-focus-on-surface)), rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-focus-on-surface))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-secondary:focus.focus.selected, .btn-secondary:focus .focus.selected {
  background: linear-gradient(rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-selected-on-surface)), rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-selected-on-surface))), linear-gradient(rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-focus-on-surface)), rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-focus-on-surface))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-secondary:hover:focus .focus.hover, .btn-secondary:hover:focus.focus.hover {
  background: linear-gradient(rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-hover-on-surface)), rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-hover-on-surface))), linear-gradient(rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-focus-on-surface)), rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-focus-on-surface))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-secondary:hover:focus .focus.hover.selected, .btn-secondary:hover:focus.focus.hover.selected {
  background: linear-gradient(rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-selected-on-surface)), rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-selected-on-surface))), linear-gradient(rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-hover-on-surface)), rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-hover-on-surface))), linear-gradient(rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-focus-on-surface)), rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-focus-on-surface))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-secondary[aria-disabled=true] {
  cursor: default;
  color: var(--feather-shade-2);
  border-color: transparent;
  box-shadow: none;
}
.btn-secondary[aria-disabled=true].selected,
.btn-secondary[aria-disabled=true] .selected {
  background: rgba(0, 0, 0, 0);
}
.btn-secondary[aria-disabled=true].hover:hover, .btn-secondary[aria-disabled=true]:hover .hover {
  background: rgba(0, 0, 0, 0);
}
.btn-secondary[aria-disabled=true].hover:hover.selected, .btn-secondary[aria-disabled=true]:hover .hover.selected {
  background: rgba(0, 0, 0, 0);
}
.btn-secondary[aria-disabled=true]:focus.focus, .btn-secondary[aria-disabled=true]:focus .focus {
  background: rgba(0, 0, 0, 0);
}
.btn-secondary[aria-disabled=true]:focus.focus.selected, .btn-secondary[aria-disabled=true]:focus .focus.selected {
  background: rgba(0, 0, 0, 0);
}
.btn-secondary[aria-disabled=true]:hover:focus .focus.hover, .btn-secondary[aria-disabled=true]:hover:focus.focus.hover {
  background: rgba(0, 0, 0, 0);
}
.btn-secondary[aria-disabled=true]:hover:focus .focus.hover.selected, .btn-secondary[aria-disabled=true]:hover:focus.focus.hover.selected {
  background: rgba(0, 0, 0, 0);
}
.btn-secondary[aria-disabled=true]:focus, .btn-secondary[aria-disabled=true]:hover, .btn-secondary[aria-disabled=true]:active, .btn-secondary[aria-disabled=true]:visited {
  cursor: default;
  color: var(--feather-shade-2);
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}
.btn-secondary:focus {
  border-color: var(--feather-primary);
}
.btn-secondary:visited {
  color: var(--feather-primary);
}
.btn-secondary[aria-disabled=true] {
  border-color: var(--feather-shade-4);
}
.btn-secondary[aria-disabled=true].selected,
.btn-secondary[aria-disabled=true] .selected {
  background: rgba(0, 0, 0, 0);
}
.btn-secondary[aria-disabled=true].hover:hover, .btn-secondary[aria-disabled=true]:hover .hover {
  background: rgba(0, 0, 0, 0);
}
.btn-secondary[aria-disabled=true].hover:hover.selected, .btn-secondary[aria-disabled=true]:hover .hover.selected {
  background: rgba(0, 0, 0, 0);
}
.btn-secondary[aria-disabled=true]:focus.focus, .btn-secondary[aria-disabled=true]:focus .focus {
  background: rgba(0, 0, 0, 0);
}
.btn-secondary[aria-disabled=true]:focus.focus.selected, .btn-secondary[aria-disabled=true]:focus .focus.selected {
  background: rgba(0, 0, 0, 0);
}
.btn-secondary[aria-disabled=true]:hover:focus .focus.hover, .btn-secondary[aria-disabled=true]:hover:focus.focus.hover {
  background: rgba(0, 0, 0, 0);
}
.btn-secondary[aria-disabled=true]:hover:focus .focus.hover.selected, .btn-secondary[aria-disabled=true]:hover:focus.focus.hover.selected {
  background: rgba(0, 0, 0, 0);
}
.btn-secondary[aria-disabled=true]:focus, .btn-secondary[aria-disabled=true]:hover, .btn-secondary[aria-disabled=true]:active, .btn-secondary[aria-disabled=true]:visited {
  border-color: var(--feather-shade-4);
}
.btn-secondary.on-color {
  color: var(--feather-state-color-on-color);
  border: 2px solid var(--feather-state-color-on-color);
}
.btn-secondary.on-color .ripple {
  background-color: var(--feather-state-color-on-color);
  opacity: var(--feather-state-opacity-pressed-on-color);
}
.btn-secondary.on-color.selected,
.btn-secondary.on-color .selected {
  background: linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-selected-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-selected-on-color))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-secondary.on-color.hover:hover, .btn-secondary.on-color:hover .hover {
  background: linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-hover-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-hover-on-color))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-secondary.on-color.hover:hover.selected, .btn-secondary.on-color:hover .hover.selected {
  background: linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-selected-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-selected-on-color))), linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-hover-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-hover-on-color))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-secondary.on-color:focus.focus, .btn-secondary.on-color:focus .focus {
  background: linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-focus-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-focus-on-color))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-secondary.on-color:focus.focus.selected, .btn-secondary.on-color:focus .focus.selected {
  background: linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-selected-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-selected-on-color))), linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-focus-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-focus-on-color))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-secondary.on-color:hover:focus .focus.hover, .btn-secondary.on-color:hover:focus.focus.hover {
  background: linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-hover-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-hover-on-color))), linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-focus-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-focus-on-color))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-secondary.on-color:hover:focus .focus.hover.selected, .btn-secondary.on-color:hover:focus.focus.hover.selected {
  background: linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-selected-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-selected-on-color))), linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-hover-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-hover-on-color))), linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-focus-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-focus-on-color))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-secondary.on-color:focus {
  border-color: var(--feather-state-color-on-color);
}
.btn-secondary.on-color:visited {
  color: var(--feather-state-color-on-color);
}
.btn-secondary.on-color[aria-disabled=true] {
  border-color: var(--feather-state-color-on-color);
}
.btn-secondary.on-color[aria-disabled=true][aria-disabled=true] {
  color: var(--feather-state-color-on-color);
  opacity: 0.5;
}
.btn-secondary.on-color[aria-disabled=true][aria-disabled=true].selected,
.btn-secondary.on-color[aria-disabled=true][aria-disabled=true] .selected {
  background: rgba(0, 0, 0, 0);
}
.btn-secondary.on-color[aria-disabled=true][aria-disabled=true].hover:hover, .btn-secondary.on-color[aria-disabled=true][aria-disabled=true]:hover .hover {
  background: rgba(0, 0, 0, 0);
}
.btn-secondary.on-color[aria-disabled=true][aria-disabled=true].hover:hover.selected, .btn-secondary.on-color[aria-disabled=true][aria-disabled=true]:hover .hover.selected {
  background: rgba(0, 0, 0, 0);
}
.btn-secondary.on-color[aria-disabled=true][aria-disabled=true]:focus.focus, .btn-secondary.on-color[aria-disabled=true][aria-disabled=true]:focus .focus {
  background: rgba(0, 0, 0, 0);
}
.btn-secondary.on-color[aria-disabled=true][aria-disabled=true]:focus.focus.selected, .btn-secondary.on-color[aria-disabled=true][aria-disabled=true]:focus .focus.selected {
  background: rgba(0, 0, 0, 0);
}
.btn-secondary.on-color[aria-disabled=true][aria-disabled=true]:hover:focus .focus.hover, .btn-secondary.on-color[aria-disabled=true][aria-disabled=true]:hover:focus.focus.hover {
  background: rgba(0, 0, 0, 0);
}
.btn-secondary.on-color[aria-disabled=true][aria-disabled=true]:hover:focus .focus.hover.selected, .btn-secondary.on-color[aria-disabled=true][aria-disabled=true]:hover:focus.focus.hover.selected {
  background: rgba(0, 0, 0, 0);
}
.btn-secondary.on-color[aria-disabled=true]:focus, .btn-secondary.on-color[aria-disabled=true]:hover, .btn-secondary.on-color[aria-disabled=true]:active, .btn-secondary.on-color[aria-disabled=true]:visited {
  border-color: var(--feather-state-color-on-color);
}
.btn-secondary + .btn-primary,
.btn-secondary + .btn-secondary {
  margin-left: var(--feather-spacing-m);
}
.btn-text {
  color: var(--feather-primary);
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0 0.5rem;
}
.btn-text .ripple {
  background-color: var(--feather-state-color-on-surface);
  opacity: var(--feather-state-opacity-pressed-on-surface);
}
.btn-text.selected,
.btn-text .selected {
  background: linear-gradient(rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-selected-on-surface)), rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-selected-on-surface))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-text.hover:hover, .btn-text:hover .hover {
  background: linear-gradient(rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-hover-on-surface)), rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-hover-on-surface))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-text.hover:hover.selected, .btn-text:hover .hover.selected {
  background: linear-gradient(rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-selected-on-surface)), rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-selected-on-surface))), linear-gradient(rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-hover-on-surface)), rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-hover-on-surface))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-text:focus.focus, .btn-text:focus .focus {
  background: linear-gradient(rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-focus-on-surface)), rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-focus-on-surface))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-text:focus.focus.selected, .btn-text:focus .focus.selected {
  background: linear-gradient(rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-selected-on-surface)), rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-selected-on-surface))), linear-gradient(rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-focus-on-surface)), rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-focus-on-surface))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-text:hover:focus .focus.hover, .btn-text:hover:focus.focus.hover {
  background: linear-gradient(rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-hover-on-surface)), rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-hover-on-surface))), linear-gradient(rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-focus-on-surface)), rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-focus-on-surface))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-text:hover:focus .focus.hover.selected, .btn-text:hover:focus.focus.hover.selected {
  background: linear-gradient(rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-selected-on-surface)), rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-selected-on-surface))), linear-gradient(rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-hover-on-surface)), rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-hover-on-surface))), linear-gradient(rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-focus-on-surface)), rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-focus-on-surface))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-text[aria-disabled=true] {
  cursor: default;
  color: var(--feather-shade-2);
  border-color: transparent;
  box-shadow: none;
}
.btn-text[aria-disabled=true].selected,
.btn-text[aria-disabled=true] .selected {
  background: rgba(0, 0, 0, 0);
}
.btn-text[aria-disabled=true].hover:hover, .btn-text[aria-disabled=true]:hover .hover {
  background: rgba(0, 0, 0, 0);
}
.btn-text[aria-disabled=true].hover:hover.selected, .btn-text[aria-disabled=true]:hover .hover.selected {
  background: rgba(0, 0, 0, 0);
}
.btn-text[aria-disabled=true]:focus.focus, .btn-text[aria-disabled=true]:focus .focus {
  background: rgba(0, 0, 0, 0);
}
.btn-text[aria-disabled=true]:focus.focus.selected, .btn-text[aria-disabled=true]:focus .focus.selected {
  background: rgba(0, 0, 0, 0);
}
.btn-text[aria-disabled=true]:hover:focus .focus.hover, .btn-text[aria-disabled=true]:hover:focus.focus.hover {
  background: rgba(0, 0, 0, 0);
}
.btn-text[aria-disabled=true]:hover:focus .focus.hover.selected, .btn-text[aria-disabled=true]:hover:focus.focus.hover.selected {
  background: rgba(0, 0, 0, 0);
}
.btn-text[aria-disabled=true]:focus, .btn-text[aria-disabled=true]:hover, .btn-text[aria-disabled=true]:active, .btn-text[aria-disabled=true]:visited {
  cursor: default;
  color: var(--feather-shade-2);
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}
.btn-text:hover {
  border-color: rgba(var(--feather-state-color-on-surface-r), var(--feather-state-color-on-surface-g), var(--feather-state-color-on-surface-b), var(--feather-state-opacity-hover-on-surface));
}
.btn-text:focus {
  border-color: var(--feather-primary);
}
.btn-text:visited {
  color: var(--feather-primary);
}
.btn-text.on-color {
  color: var(--feather-state-color-on-color);
}
.btn-text.on-color .ripple {
  background-color: var(--feather-state-color-on-color);
  opacity: var(--feather-state-opacity-pressed-on-color);
}
.btn-text.on-color.selected,
.btn-text.on-color .selected {
  background: linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-selected-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-selected-on-color))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-text.on-color.hover:hover, .btn-text.on-color:hover .hover {
  background: linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-hover-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-hover-on-color))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-text.on-color.hover:hover.selected, .btn-text.on-color:hover .hover.selected {
  background: linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-selected-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-selected-on-color))), linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-hover-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-hover-on-color))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-text.on-color:focus.focus, .btn-text.on-color:focus .focus {
  background: linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-focus-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-focus-on-color))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-text.on-color:focus.focus.selected, .btn-text.on-color:focus .focus.selected {
  background: linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-selected-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-selected-on-color))), linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-focus-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-focus-on-color))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-text.on-color:hover:focus .focus.hover, .btn-text.on-color:hover:focus.focus.hover {
  background: linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-hover-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-hover-on-color))), linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-focus-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-focus-on-color))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-text.on-color:hover:focus .focus.hover.selected, .btn-text.on-color:hover:focus.focus.hover.selected {
  background: linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-selected-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-selected-on-color))), linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-hover-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-hover-on-color))), linear-gradient(rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-focus-on-color)), rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-focus-on-color))), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-text.on-color:hover {
  border-color: rgba(var(--feather-state-color-on-color-r), var(--feather-state-color-on-color-g), var(--feather-state-color-on-color-b), var(--feather-state-opacity-hover-on-color));
}
.btn-text.on-color:focus {
  border-color: var(--feather-state-color-on-color);
}
.btn-text.on-color:visited {
  color: var(--feather-state-color-on-color);
}
.btn-text.on-color[aria-disabled=true] {
  border-color: transparent;
}
.btn-text.on-color[aria-disabled=true][aria-disabled=true] {
  color: var(--feather-state-color-on-color);
  opacity: 0.5;
}
.btn-text.on-color[aria-disabled=true][aria-disabled=true].selected,
.btn-text.on-color[aria-disabled=true][aria-disabled=true] .selected {
  background: rgba(0, 0, 0, 0);
}
.btn-text.on-color[aria-disabled=true][aria-disabled=true].hover:hover, .btn-text.on-color[aria-disabled=true][aria-disabled=true]:hover .hover {
  background: rgba(0, 0, 0, 0);
}
.btn-text.on-color[aria-disabled=true][aria-disabled=true].hover:hover.selected, .btn-text.on-color[aria-disabled=true][aria-disabled=true]:hover .hover.selected {
  background: rgba(0, 0, 0, 0);
}
.btn-text.on-color[aria-disabled=true][aria-disabled=true]:focus.focus, .btn-text.on-color[aria-disabled=true][aria-disabled=true]:focus .focus {
  background: rgba(0, 0, 0, 0);
}
.btn-text.on-color[aria-disabled=true][aria-disabled=true]:focus.focus.selected, .btn-text.on-color[aria-disabled=true][aria-disabled=true]:focus .focus.selected {
  background: rgba(0, 0, 0, 0);
}
.btn-text.on-color[aria-disabled=true][aria-disabled=true]:hover:focus .focus.hover, .btn-text.on-color[aria-disabled=true][aria-disabled=true]:hover:focus.focus.hover {
  background: rgba(0, 0, 0, 0);
}
.btn-text.on-color[aria-disabled=true][aria-disabled=true]:hover:focus .focus.hover.selected, .btn-text.on-color[aria-disabled=true][aria-disabled=true]:hover:focus.focus.hover.selected {
  background: rgba(0, 0, 0, 0);
}
.btn.btn-icon {
  padding: 0;
  display: inline-flex;
  height: 2.25rem;
  width: 2.25rem;
  min-width: 2.25rem;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}
.btn.btn-icon svg {
  width: 1.5rem;
  font-size: 1.5rem;
  vertical-align: middle;
}
.btn.has-icon {
  padding: 0 1rem 0 0.75rem;
  display: inline-flex;
  align-items: center;
}
.btn.has-icon.btn-text {
  padding: 0 0.5rem;
}
.btn.has-icon svg {
  width: 1.125rem;
  height: 1.125rem;
  font-size: 1.125rem;
  display: inline-block;
  margin-right: 0.5rem;
}

.btn {
  width: 100%;
}