@use '@featherds/styles/themes/variables';

.critical-color {
  background-color: rgba(165, 2, 31, 0.2);
  color: #a5021f !important;
}

.major-color {
  background-color: rgba(227, 83, 2, 0.2);
  color: #e35302 !important;
}

.minor-color {
  background-color: rgba(255, 172, 38, 0.2);
  color: #5b2f00 !important;
}

.warning-color {
  background-color: rgba(251, 233, 71, 0.2);
  color: #5b2f00 !important;
}

.indeterminate-color {
  background-color: rgba(0, 146, 199, 0.2);
  color: #0d6b90 !important;
}

.normal-color {
  background-color: rgba(11, 114, 12, 0.2);
  color: #0b720c !important;
}

.cleared-color {
  background-color: rgba(117, 117, 117, 0.2);
  color: #757575 !important;
}

.severity_undefined-color {
  border: 1px solid var(variables.$border-on-surface);
}

