@use '@featherds/styles/themes/variables';

.critical-color {
  // background-color: #A5021F;
  background-color: rgb(165, 2, 31, 0.2);
  color: #FFA3B5 !important;
}

.major-color {
  // background-color: #E35302;
  background-color: rgb(227, 83, 2, 0.2);
  color: #E35302 !important;
  // color: rgb(227, 83, 2, 0.2) !important;
}

.minor-color {
  background-color: rgb(255, 172, 38, 0.2);
  color: #5B2F00 !important;
}

.warning-color {
  // background-color: #FBE947;
  background-color: rgb(251, 233, 71, 0.2);
  color: #5B2F00 !important;
}

.indeterminate-color {
  // background-color: #0092C7;
  background-color: rgb(0, 146, 199, 0.2);
  color: #0D6B90 !important;
}

.normal-color {
  background-color: rgba(11, 114, 12, 0.2);
  color: #0b720c !important;
}

.cleared-color {
  background-color: rgba(117, 117, 117, 0.2);
  color: #757575 !important;
}

.severity_undefined-color {
  border: 1px solid var(variables.$border-on-surface);
}

