@use "@featherds/styles/themes/variables";

.bg-status {
  color: var(variables.$primary-text-on-color);
  &.ok {
    background-color: var(variables.$success);
  }
  &.failed {
    background-color: var(variables.$error);
  }
  &.unknown {
    background-color: grey;
  }
}

.open-dark {
  .bg-status.unknown {
    color: rgb(10, 12, 27);
  }
}
