@use "@featherds/styles/themes/variables";

:deep(.bg-status) {
  .label {
    color: var(variables.$primary-text-on-color);
  }
  &.ok,
  &.UP {
    background-color: var(variables.$success);
  }
  &.failed,
  &.DOWN {
    background-color: var(variables.$error);
  }
  &.unknown,
  &.UNKNOWN {
    background-color: grey;
  }
}

.open-dark {
  .bg-status {
    &.unknown,
    &.UNKNOWN {
      .label {
        color: rgb(10, 12, 27);
      }
    }
  }
}
