/* 
Bootstrap breakpoints - Grid containers.
Define the maximum width for different screen sizes.
*/
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

@use "sass:map";

@mixin screen-xs {
  @media (max-width: map.get($grid-breakpoints, 'sm')) { @content; } // < 576
}
@mixin screen-sm {
  @media (min-width: map.get($grid-breakpoints, 'sm')) { @content; } // < 768
}
@mixin screen-md {
  @media (min-width: map.get($grid-breakpoints, 'md')) { @content; } // < 992
}
@mixin screen-lg {
  @media (min-width: map.get($grid-breakpoints, 'lg')) { @content; } // < 1200
}
@mixin screen-xl {
  @media (min-width: map.get($grid-breakpoints, 'xl')) { @content; } // < 1400
}
@mixin screen-xxl {
  @media (min-width: map.get($grid-breakpoints, 'xxl')) { @content; } // > 1400
}