name: develop

on:
  push:
    branches:
      - 'develop'
  pull_request:
    #types: [ labeled, closed]
    types: [ labeled]
    branches:
      - 'develop'

# For now, we have put all steps into a single job, this will allow for just
# one vm to run. We use actions to factor out the functionality. If there is a
# requirement to create additional jobs, maybe to run concurrent jobs, then we
# can split them up later.

jobs:
  develop:
    # If label for PR, closed on PR, or develop branch on push, then run., 
    if: ${{ ( github.event.label.name == 'actions-develop' ) || ( github.event.action == 'closed' ) || ( github.event.ref == 'refs/heads/develop' ) }}
    runs-on: self-hosted
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
        # Is required to call actions.

      - name: init
        run: |

          # In case a previous workflow, using self-hosted runner, failed with
          # kind cluster still running, delete it. It uses a lot of space. 
          kind delete clusters kind

      - name: feature-ui
        id: action-feature-ui
        uses: ./.github/actions/ui
        with:
          dir-location: 'ui'
  
      - name: feature-grafana
        id: action-feature-grafana
        uses: ./.github/actions/grafana
        with:
          dir-location: 'grafana'

      - name: feature-keycloak-ui
        id: action-feature-keycloak-ui
        uses: ./.github/actions/keycloak-ui
        with:
          dir-location: 'keycloak-ui'
    
      - name: feature-operator
        id: action-feature-operator
        uses: ./.github/actions/operator
        with:
          dir-location: 'operator'

      # This needs to happen before shared-lib.
      - name: parent-pom
        id: action-parent-pom
        uses: ./.github/actions/parent-pom
        with:
          dir-location: 'parent-pom'
  
      # This needs to happen before core, rest-server, and notifications.
      - name: shared-lib
        id: action-shared-lib
        uses: ./.github/actions/shared-lib
        with:
          dir-location: 'shared-lib'

      - name: feature-core
        id: action-feature-core
        uses: ./.github/actions/core
        with:
          dir-location: 'platform'

      - name: feature-metrics-processor
        id: action-feature-metrics-processor
        uses: ./.github/actions/metrics-processor

      - name: feature-rest-server
        id: action-rest-server
        uses: ./.github/actions/rest-server
        with:
          dir-location: 'rest-server'

      - name: feature-inventory
        id: action-inventory
        uses: ./.github/actions/inventory
        with:
          dir-location: 'inventory'

      - name: feature-notifications
        id: action-notifications
        uses: ./.github/actions/notifications
        with:
          dir-location: 'notifications'

      - name: feature-minion
        id: action-minion
        uses: ./.github/actions/minion
        with:
          dir-location: 'minion'

      - name: feature-minion-gateway
        id: action-minion-gateway
        uses: ./.github/actions/minion-gateway
        with:
          dir-location: 'minion-gateway'

      - name: external-it
        id: action-external-it
        uses: ./.github/actions/external-it
        with:
          dir-location: 'external-it'

