name: Develop Workflow

on:
  push:
    branches:
      - 'develop'
  pull_request:
# This workflow is triggered instead of individual workflows that filter based on paths.
# If we want to fully separate individual workflows out of this one, we need fully reproducible builds.
# Just use this one for now. The downside is it will run redundant workflows for code that didn't change.
#    types: [labeled]
    branches:
      - 'develop'
  workflow_call:
    inputs:
      image-tag:
        description: 'Tag for all images'
        required: false
        type: string
      image-registry:
        description: 'Docker image registry for all images'
        required: false
        type: string

jobs:
  alarm:
    name: Alarm Service
    uses: ./.github/workflows/feature-alarm.yml
    secrets: inherit
    with:
      image-tag: ${{ inputs.image-tag || github.sha }}
      image-registry: ${{ inputs.image-registry || 'ghcr.io' }}
  datachoices:
    name: DataChoices Service
    uses: ./.github/workflows/feature-datachoices.yml
    secrets: inherit
    with:
      image-tag: ${{ inputs.image-tag || github.sha }}
      image-registry: ${{ inputs.image-registry || 'ghcr.io' }}
  events:
    name: Event Service
    uses: ./.github/workflows/feature-events.yml
    secrets: inherit
    with:
      image-tag: ${{ inputs.image-tag || github.sha }}
      image-registry: ${{ inputs.image-registry || 'ghcr.io' }}
  grafana:
    name: Grafana
    uses: ./.github/workflows/feature-grafana.yml
    secrets: inherit
    with:
      image-tag: ${{ inputs.image-tag || github.sha }}
      image-registry: ${{ inputs.image-registry || 'ghcr.io' }}
  inventory:
    name: Inventory Service
    uses: ./.github/workflows/feature-inventory.yml
    secrets: inherit
    with:
      image-tag: ${{ inputs.image-tag || github.sha }}
      image-registry: ${{ inputs.image-registry || 'ghcr.io' }}
  keycloak-ui:
    name: Keycloak
    uses: ./.github/workflows/feature-keycloak-ui.yml
    secrets: inherit
    with:
      image-tag: ${{ inputs.image-tag || github.sha }}
      image-registry: ${{ inputs.image-registry || 'ghcr.io' }}
  metrics-processor:
    name: Metrics Processor Service
    uses: ./.github/workflows/feature-metrics-processor.yml
    secrets: inherit
    with:
      image-tag: ${{ inputs.image-tag || github.sha }}
      image-registry: ${{ inputs.image-registry || 'ghcr.io' }}
  minion:
    name: Minion
    uses: ./.github/workflows/feature-minion.yml
    secrets: inherit
    with:
      image-tag: ${{ inputs.image-tag || github.sha }}
      image-registry: ${{ inputs.image-registry || 'ghcr.io' }}
  minion-gateway:
    name: Minion Gateway Service
    uses: ./.github/workflows/feature-minion-gateway.yml
    secrets: inherit
    with:
      image-tag: ${{ inputs.image-tag || github.sha }}
      image-registry: ${{ inputs.image-registry || 'ghcr.io' }}
  minion-gateway-grpc-proxy:
    name: Minion Gateway GRPC Proxy
    uses: ./.github/workflows/feature-minion-gateway-grpc-proxy.yml
    secrets: inherit
    with:
      image-tag: ${{ inputs.image-tag || github.sha }}
      image-registry: ${{ inputs.image-registry || 'ghcr.io' }}
  notifications:
    name: Notification Service
    uses: ./.github/workflows/feature-notifications.yml
    secrets: inherit
    with:
      image-tag: ${{ inputs.image-tag || github.sha }}
      image-registry: ${{ inputs.image-registry || 'ghcr.io' }}
  parent-pom:
    name: Parent POM
    uses: ./.github/workflows/feature-parent-pom.yml
    secrets: inherit
  rest-server:
    name: Vue.js BFF
    uses: ./.github/workflows/feature-rest-server.yml
    secrets: inherit
    with:
      image-tag: ${{ inputs.image-tag || github.sha }}
      image-registry: ${{ inputs.image-registry || 'ghcr.io' }}
  shared-lib:
    name: Shared Library
    uses: ./.github/workflows/feature-shared-lib.yml
    secrets: inherit
  ui:
    name: Vue.js UI
    uses: ./.github/workflows/feature-ui.yml
    secrets: inherit
    with:
      image-tag: ${{ inputs.image-tag || github.sha }}
      image-registry: ${{ inputs.image-registry || 'ghcr.io' }}
  external-it:
    name: End-to-end Tests
    needs: [
      alarm,
      datachoices,
      events,
      grafana,
      inventory,
      keycloak-ui,
      metrics-processor,
      minion,
      minion-gateway,
      minion-gateway-grpc-proxy,
      notifications,
      rest-server,
      ui
    ]
    runs-on:
      labels: ubuntu-latest-8-cores
    timeout-minutes: 30 # Prevents hung workflows on the larger runners from costing more than necessary
    steps:

      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Cache Maven dependencies
        uses: ./.github/actions/maven-cache
        with:
          cache-key-hash: ${{ hashFiles('external-it/**/pom.xml') }}

      - name: Create & set up cluster
        run: |          
          # Setup localhost DNS
          sudo echo "127.0.0.1 onmshs" | sudo tee -a /etc/hosts
          
          # Build cluster with Horizon Stream installed.
          ./install-local.sh cicd onmshs "${{ inputs.image-tag || github.sha }}" "${{ inputs.image-registry || 'ghcr.io' }}/opennms-cloud"

        shell: bash
        working-directory: install-local

      - name: Set up & run Cucumber tests
        run: |
          # Cucumber test
          mvn install
          HORIZON_STREAM_BASE_URL=http://localhost:11080 
          KEYCLOAK_BASE_URL=https://onmshs/auth
          KEYCLOAK_REALM=opennms
          KEYCLOAK_USERNAME=admin
          KEYCLOAK_PASSWORD=admin
          export HORIZON_STREAM_BASE_URL KEYCLOAK_BASE_URL KEYCLOAK_REALM KEYCLOAK_USERNAME KEYCLOAK_PASSWORD
          PROJECT_VERSION="$(mvn -Dexec.executable=echo -Dexec.args='${project.version}' --non-recursive -q org.codehaus.mojo:exec-maven-plugin:1.6.0:exec)"
          java -jar "external-horizon-stream-it/target/external-horizon-stream-it-${PROJECT_VERSION}.jar"
          
          ## If fail, exit which kills the ci-cd workflow.
          ##for i in $(jq '.[0].elements[].steps[].result.status' external-it/external-horizon-stream-it/cucumber.reports/cucumber-report.json);do
          ##  if [[ $i != '"passed"' ]];then
          ##    exit;
          ##  fi
          ##done
        shell: bash
        working-directory: external-it
