name: develop

on:
  pull_request:
    branches: 
      - 'develop'
    types: [closed]
  push:
    # For testing, comment out when not useing, and increment branch version.
    # Comment out when not using.
    branches: 
      - 'jaberry/ci-cd-1'

# For now, we have put all steps into a single job, this will allow for just
# one vm to run. We use actions to factor out the functionality. If there is a
# requirement to create additional jobs, maybe to run concurrent jobs, then we
# can split them up later.

jobs:
  develop:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
        # Is required to call actions.

      - name: init
        run: |

          echo "For init steps."

      - name: feature-ui
        id: action-feature-ui
        uses: ./.github/actions/ui
        with:
          dir-location: 'ui'

      - name: feature-core
        id: action-feature-core
        uses: ./.github/actions/core
        with:
          dir-location: 'platform'

      - name: feature-rest-server
        id: action-rest-server
        uses: ./.github/actions/rest-server
        with:
          dir-location: 'rest-server'

      - name: external-it
        id: action-external-it
        uses: ./.github/actions/external-it
        with:
          dir-location: 'external-it'

