name: release

on:
  workflow_dispatch:
    inputs:
      release_version:
        required: true
        type: string

jobs:
  tag:
    runs-on: ubuntu-latest
    outputs:
      image-tag: ${{ steps.extract-tag.outputs.image-tag }}
    steps:
    - name: init
      id: extract-tag
      run: |
        TAG=$(echo ${{ github.event.head_commit.message }} | awk '{ print $2 }')
        
        echo "Head commit message: ${{ github.event.head_commit.message }}"
        echo "Extracted tag: $TAG."
        
        # Validate tag format
        # Format of commit message: RELEASE <tag> - <message>
        # Format of tag (change numbers or dev, but leave everything else): 
        #   v0.0.5-dev
        #   v0.0.5
        if [[ $TAG =~ ^v[0-9]+.[0-9]+.([0-9]+-[a-z]+|[0-9]+)$ ]]
        then
          echo "Valid format, proceed with test."
        else
          echo "Tag format is invalid."
          exit 1
        fi

        echo "release-tag=$TAG" >> $GITHUB_OUTPUT
  build-all:
    needs: tag
    uses: ./.github/workflows/develop.yml
    secrets: inherit
    with:
      image-tag: ${{ needs.tag.outputs.image-tag }}
      image-registry: 'docker.io'
  release:
    needs: [tag, build-all]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: [
          'opennms/horizon-stream-alarm',
          'opennms/horizon-stream-datachoices',
          'opennms/horizon-stream-events',
          'opennms/horizon-stream-grafana',
          'opennms/horizon-stream-inventory',
          'opennms/horizon-stream-keycloak-ui',
          'opennms/horizon-stream-metrics-processor',
          'opennms/horizon-stream-minion',
          'opennms/horizon-stream-minion-gateway',
          'opennms/horizon-stream-minion-gateway-grpc-proxy',
          'opennms/horizon-stream-notifications',
          'opennms/horizon-stream-operator',
          'opennms/horizon-stream-rest-server',
          'opennms/horizon-stream-ui',
        ]
    environment: docker-publish-account
    # Environment that contains the required secrets.
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
        # Is required to call actions.

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_LOGIN }}
          password: ${{ secrets.DOCKERHUB_PASS }}

      - name: Publish images
        run: |
          # Tag and save the image as a file to be published. Both release version and latest.
          docker tag ${{ matrix.image }}:${{ needs.tag.outputs.image-tag }} ${{ matrix.image }}:latest
          docker push ${{ matrix.image }}:latest
